$color-primary: #fff;
$color-secondary: #1e1e1e;
$color-primary--focus: #f6f6f6;
$color-text--title: #fff;
$color-text--no-focus: #a7b1c1;
$color-background--primary: #222431;
$color-background--primary-focus: #1D1F29;
$color-background--secondary: #ededed;

.color--no-focus{
    color: $color-text--no-focus;
}